.MusicDetails {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MusicDetails button:disabled,
.MusicDetails button[disabled] {
  border: 1px solid black;
  color: #666666;
}

.share {
  display: flex;
  align-items: center;
  justify-content: center;
}
