.Navigation {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0 1rem;
  width: 100%;
  background-color: black;
  color: #ffff;
  position: fixed;
  top: 0;
}

.Navigation a {
  text-decoration: none;
  color: #ffff;
  padding: 0 1rem;
  text-align: center;
}
