.Navigation {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0 1rem;
  width: 100%;
  background-color: black;
  color: #ffff;
  position: absolute;
  top: 0;
}

.back {
  margin: 1.5rem 1rem;
}

.Navigation h1 {
  align-self: center;
}

.Navigation a {
  text-decoration: none;
  color: #ffff;
  padding: 0 1rem;
  text-align: center;
}
