.TrackOverview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.songDetails {
  display: flex;
  flex: 1 0 100%;
  max-width: 800px;
  min-width: 400px;
  justify-content: space-between;
  align-items: flex-end;
}

.albumDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detailsRight {
  text-align: right;
}
