.card {
  display: flex;
  justify-content: left;
  flex-grow: 1;
  max-width: 800px;
  background-color: #1a1c1d;
  margin: 0.1rem 1rem 0.1rem 1rem;
  padding: 0.1rem;
  text-align: left;
  border: 1px solid #0e0f0f;
  border-radius: 6px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card p {
  margin: 0;
  font-size: 0.9rem;
  line-height: 1.5;
}

.card:hover,
.card:focus,
.card:active {
  border-color: rgb(82, 82, 82);
}

.info {
  flex: 2;
  margin: 0.5rem;
}

.details {
  flex: 3;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.details p {
  margin: 1rem;
  font-size: 0.9rem;
}
