.App {
  min-height: 100vh;
  padding: 0 0.5rem;
  background-color: #141516;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button,
.clickable {
  cursor: pointer;
}
